.search-outer-container {
  margin-top: 2rem;
  width: 100%;
  border: 2px solid #25303a;
  background-color: #0d1418;
  padding: 1.5rem;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.search-input-container {
  width: 100%;
  /* border: 1px solid red; */
  display: flex;
  gap: 1rem;
}

.search-input-box {
  flex: 1;
  border: 1px solid #25303a;
  background-color: #0d1418;
  color: #e6eef3;
  padding: 0.8rem;
  font-size: 1rem;
  border-radius: 12px;
}

.search-input-box:focus {
  outline: none;
}

.search-input-button {
  padding: 0.7rem 1rem;
  font-size: 0.9rem;
  background-color: #3aa6ff;
  color: #0d1418;
  border: none;
  border-radius: 12px;
  display: flex;
  align-items: center;
  gap: 2px;
  cursor: pointer;
}

.search-examples {
  font-size: 0.8rem;
  color: #a9bdc6;
}

@media (max-width: 500px) {
  .search-input-container {
    flex-direction: column;
  }
  .search-input-button {
    justify-content: center;
  }
  .search-input-box {
    font-size: 0.9rem;
  }
}
