.movie-sort-container {
  background-color: #0c1a23;
  padding: 0.8rem 1rem;
  border-radius: 12px;
  display: flex;
  align-items: center;
  gap: 5px;
}

select {
  padding: 0.6rem 0.2rem;
  border-radius: 12px;
  background-color: #3aa6ff;
  color: #0d1418;
  cursor: pointer;
}
select:focus {
  outline: none;
  border: none;
}

select option {
  color: #0c1a23;
  background-color: #e6eef3;
}
